<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {{#if user}}
    {{user.username}}

    {{/if}}


    <nav>

        <ul>
        <li> <a href="/">Home</li>
        <li><a href="/randomLink">Not home</a></li>
        {{#if isAuthenticated}}
         <li><a href="/logout">logout</a></li>
        {{else}}
        <li><a href="/register">register</a></li>
        <li><a href="/login">login</a></li>
             {{/if}}
            
       
       

        </ul>
    </nav>
        {{error}}
        {{{body}}}
    
</body>

<footer> 
    <div>

        <b>Footer</b>

    </div>
</footer>
</html>