
     <div style=
        "background-color: aquamarine; 
        max-width: 500px; 
        display: flex; 
        border: 3px solid black;
        margin: 120px;">


      {{>card}}

    </div>

    <div style=
        "background-color: aquamarine; 
        max-width: 500px; 
        display: flex; 
        border: 3px solid black;
        margin: 120px;">

     <h1> Basic homepage</h1>

    </div>


