
<body>

    


    <div style="background-color: aquamarine; max-width: 500px; display: flex; flex-position: center;">

            {{>card}}

     <h1> Basic homepage</h1>
    </div>

  
    
</body>
