



{{!-- <div style="font-size: large;">
    
    <img src="https://blog.fluidui.com/assets/images/posts/imageedit_1_9273372713.png">
</div> --}}

    {{!-- {{#if error}}
        <div>
        <div class="errorContainer">
            <p>{{error}}</p>
            <p> Bonus </p>
        </div>
    </div>
    {{/if}} --}}

    <main>
        <div class="error-container">
            <h2>404</h2>
            <p>Oops! The page you're looking for doesn't exist.</p>
            <p>It seems you've reached a black hole in the cosmos.</p>
            <a href="/">Go Back Home</a>
            <a href="/planet/catalog">Visit Catalog</a>
        </div>
    </main>
